<h1>New text</h1>

<form action="/wizard_mix">
<label for= "chandler">Subtract this:</label>
<input id="chandler" type="text" name = "first_num">
<label for="pheobe">from this:</label>
<input id="pheobe" type="text" name = "second_num">
<button>Go there!</button>
</form>
