<h1>New addition</h1>

<form action="/wizard_add">
<label for= "joe">Add this:</label>
<input id="joe" type="text" name = "first_num">
<label for="ross">to this:</label>
<input id="ross" type="text" name = "second_num">
<button>Add!</button>
</form>
