<h1>New multiplication</h1>

<form action="/wizard_multiply">
<label for= "jeff">Multiply this:</label>
<input id="jeff" type="text" name = "first_num">
<label for="liss">by this:</label>
<input id="liss" type="text" name = "second_num">
<button>Multiply!</button>
</form>
